html{
    overflow: hidden;
}
body{
    padding: 0;
    margin: 0;
    background: #ffffff;
}
.title{
    max-height: 5vh;
    padding: 1vh 30px;
    height: 5vh;
    font-size: 3vh;
    background: #03A9F4;
    color: #ffffff;
    margin-bottom: 0px;
    box-shadow: 0 0 5px #313131;
    position: absolute;
    width: calc(100vw - 60px);
}

.board li{
    background: #bdeaff;
    padding: 14px 12px;
    margin: 8px;
    font-size: 12px;
    border-radius: 8px;
    border: solid 1px #03a9f4;
    word-spacing: inherit;
    word-break: break-all;
    list-style: none;
    cursor: pointer;
    white-space: break-spaces;
}
.board li:hover{
    border-color: #ff5722;
}

.send:hover{
    background: #03A9F4;
}

.share{
    float: right;
    font-size: 32px;
    height: 4vh;
    cursor: pointer;
    margin-top: 0.5vh;
}
.share-qr{
    margin: 0 auto;
    width: 50vw;
    max-width: 320px;
    display: block;
    border: 1px solid #000;
    margin-top: 15vh;
    border-radius: 6px;
}
.div-share-qr{
    display: none;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 93vh;
    background: #00000057;
}

.div-pop-notice{
    position: absolute;
    top: 1.5vh;
    left: 0;
    width: 100%;
    display: none;
}

.pop-notice{
    width: 50vw;
    text-align: center;
    background: #000000a1;
    color: #ececec;
    padding: 12px;
    border-radius: 8px;
    max-width: 480px;
    margin: 0 auto;
}
.board::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 6px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.board::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 5px;
    background-color: #b5b5b5;
    /*background-image: -webkit-linear-gradient(*/
    /*        45deg,*/
    /*        rgba(255, 255, 255, 0.2) 25%,*/
    /*        transparent 25%,*/
    /*        transparent 50%,*/
    /*        rgba(255, 255, 255, 0.2) 50%,*/
    /*        rgba(255, 255, 255, 0.2) 75%,*/
    /*        transparent 75%,*/
    /*        transparent*/
    /*);*/
}
.board::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ffffff;
    border-radius: 0px;
}
.div-checkbox{
    width: 6vh;
    float: right;
    height: 100%;
    margin-top: 0.5vh;
    cursor: pointer;
    margin-right: 2vw;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    display: inline-block;
    width: 6vh;
    height: 2vh;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-sizing: border-box;
}
input[type="checkbox"] + label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2vh;
    height: 2vh;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}
#mds:checked {
    background: #ECA9A7;
}

#mds + label {
    background: #ddd;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaa;
    text-align: center;
    line-height: 2vh;
    font-size: 12px;
    cursor: pointer;
}
#mds + label:after {
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #aaa;
}

#mds:checked + label:after {
    background: #D9534F;
    left: calc(100% - 2vh);
}
.div-checkbox i{
    line-height: 2vh;
    font-size: 8px;
    text-align: center;
    display: block;
    width: 98%;
    font-style: inherit;
    text-align-last: justify;
    padding: 0 1%;
    font-weight: 700;
    word-break: keep-all;
    height: 1vh;
}

#mds:checked + label {
    background: #ECA9A7;
}

.open-browser{
    float: right;
    font-size: 32px;
    height: 4vh;
    cursor: pointer;
    margin-top: 0.5vh;
    margin-right: 2vw;
}


/*横屏*/
@media all and (orientation :landscape){
    .send-form{
        border: 0;
        margin: 0;
        padding: 0;
        width: 35vw;
        height: 95vh;
        background: #fff;
        /* border-left: 1px #969696 solid; */
        float: right;
        margin-top: 7vh;
    }
    .text{
        height: calc(86vh - 16px);
        background: #e8e8e8;
        width: calc(100% - 16px);
        border: 0;
        padding: 8px;
        margin: 0;
        resize: none;
        border-bottom: 1px dotted #03A9F4;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .send{
        height: calc(7vh - 3px);
        background: #FF5722;
        width: calc(100% - 2px);
        border: 0;
        text-align: center;
        margin: 0 auto;
        line-height: 7vh;
        font-size: 3vh;
        color: #ffffff;
        padding: 0;
        cursor: pointer;
        margin-top: -4px;
        border: 1px solid #3c3939;
    }
    .board{
        float: left;
        height: 93vh;
        background: #fff;
        overflow: scroll;
        overflow-x: hidden;
        width: 65vw;
        padding-top: 7vh;
    }
}


/*竖屏*/
@media all and (orientation :portrait){
    .send-form{
        border: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .text{
        height: calc(24vh - 12px);
        background: #e8e8e8;
        width: calc(100vw - 12px);
        border: 0;
        padding: 6px;
        margin: 0;
        resize: none;
        border-bottom: 1px dotted #03A9F4;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .send{
        height: 6vh;
        background: #FF5722;
        width: 90%;
        border: 0;
        text-align: center;
        margin: 0 auto;
        line-height: 6vh;
        font-size: 3vh;
        color: #ffffff;
        padding: 0;
        border-radius: 2vh;
        max-width: 500px;
        cursor: pointer;
    }
    .board{
        height: 61vh;
        background: #fff;
        overflow: scroll;
        overflow-x: hidden;
        padding-top: 7vh;
    }
}
